<!--
 * @Author: liziwei01
 * @Date: 2022-10-04 04:47:14
 * @LastEditors: liziwei01
 * @LastEditTime: 2022-10-04 07:31:42
 * @Description: file content
-->
<!doctype html>
<html>
	<head>
		<!-- Internal game scripts/styles, mostly boring stuff -->
		<script src="/static/game-frame.js"></script>
		<link rel="stylesheet" href="/static/game-frame-styles.css" />
	</head>
	
	<body id="level5">
		<img src="/static/logos/level5.png" /><br><br>
		Thanks for signing up, you will be redirected soon...
		<script src="/static/level5.js"></script>
	</body>
</html>